.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.form-input {
  margin-left: 25%;
  margin-right: 25%;
  width:50%;

  
}

.row-form-input {
  margin-top: auto;
}
